@media   ( max-width: 1200px  )
  .container
    max-width: 960px
  .slider
    width: 600px
  .swiper
    &-slide
      &__img
        object-fit: cover
  .newsletter
    padding: 91px 0 93px 0
    &-container
      max-width: 700px
  .hotel
    padding-bottom: 60px
@media   ( max-width: 992px )
  .container
    max-width: 700px
  .header
    .logo__img
      width: 134px
    &__search
      margin-left: 47px
      max-width: 340px
    &-top
      padding: 30px 0
    &-bot
      &__links
        padding: 22px 0
        justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .user
    &__name
      padding-top: 8px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      width: 700px
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
    height: 210px
    padding-right: 20px
    padding-left: 24px
    &__room
      padding-right: 0
    &__icon
      padding-right: 4px
    &-button
      width: 295px
  .map
    width: 340px
    height: 210px
  .call-center
    margin-bottom: 16px
@media   ( max-width: 768px )
  .container
    max-width: 576px
    width: 92%
  .header
    &-bot, &__search, &__user
      display: none
  .button-menu
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 16px
    height: 11px
    border: 0
    background-color: $light
    cursor: pointer
    padding: 0
    &__line
      width: 16px
      height: 1px
      background-color: $tc
  .stars
    flex-basis: auto
  .hotel
    &-slider
      width: 100%
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__text
        width: 100%
      &__name
        margin-top: 10px
  .booking
    width: 49%
    &-button
      width: 100%
  .map
    width: 49%

@media   ( max-width: 576px )
  .header
    .logo__img
      width: 100px
  .button-menu
    &_top
      margin-right: 12px
      margin-top: 4px
  .hotel
    padding-bottom: 40px
    padding-top: 4px
    &-right
      flex-direction: column
    &-info
      &__offer
        margin-left: 4px
      &__description
        max-width: 280px
    &-slider
      width: 280px
      height: 180px
  .stars-img
    margin-right: 28px
  .swiper
    &-container
      height: 100%
      margin-top: 17px
  .booking
    margin-top: 7px
    width: 280px
    margin-bottom: 20px
    &-button
      width: 235px
  .map
    width: 280px
    height: 173px
  .call
    &-center
      &__img
        padding-right: 4px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-title
      font-size: 20px
      line-height: 25px
      margin-left: 13px
      &__strong
        font-size: 30px
        line-height: 38px
        margin-top: 5px
        margin-bottom: 37px
    &-container
      flex-direction: column
      align-items: flex-start
    &__subscribe
      width: 280px
      margin-left: 13px
  .subscribe
    &__input
      padding-left: 19px

@media ( min-width: 325px ) and ( max-width: 576px )
  .hotel
    &-slider
      width: 100%
  .booking
    width: 100%
    &-button
      width: 100%
  .map
    width: 100%
