@media   ( max-width: 1200px  )
  .container
    max-width: 960px
  .slider
    width: 600px
  .swiper
    &-slide
      &__img
        object-fit: cover
  .newsletter
    padding: 91px 0 93px 0
    &-container
      max-width: 700px
  .hotel
    padding-bottom: 60px
  .subscribe
    &__input
      padding-left: 33px
  .activities
    .card
      width: 225px
      min-height: 225px
@media   ( max-width: 992px )
  .container
    max-width: 700px
  .header
    .logo__img
      width: 134px
    &__search
      margin-left: 47px
      max-width: 340px
    &-top
      padding: 30px 0
    &-bot
      &__links
        padding: 22px 0
        justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .user
    &__name
      padding-top: 8px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      width: 700px
      margin-bottom: 30px
    &-right
      display: flex
      justify-content: space-between
      flex-direction: row
  .booking
    width: 340px
    height: 210px
    padding-right: 20px
    padding-left: 24px
    &__room
      padding-right: 0
    &__icon
      padding-right: 4px
    &-button
      width: 295px
  .map
    width: 340px
    height: 210px
  .call-center
    margin-bottom: 16px
  .reviews
    margin-bottom: 94px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 579px
    &-block
      &__review
        padding-left: 65px
        padding-right: 60px
    &-button
      top: 50%
      &--prev
        left: 1px
      &--next
        right: 1px
  .stars-img
    margin-bottom: 7px
  .activities
    padding-top: 24px
    &__title
      margin-top: 0px
    &__wrapper
      flex-wrap: wrap
    .card
      width: 340px
      min-height: 256px
      margin-bottom: 20px
      &__title
        &-two
          width: 205px
        &-four
          width: 205px
  .reviews
    &-slider
      &__item
        &::before
          display: none
        &::after
          display: none
@media   ( max-width: 768px )
  .container
    max-width: 576px
    width: 92%
  .header
    &-bot, &__search, &__user
      display: none
  .button-menu
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 16px
    height: 11px
    border: 0
    background-color: $light
    cursor: pointer
    padding: 0
    &__line
      width: 16px
      height: 1px
      background-color: $tc
  .stars
    flex-basis: auto
  .hotel
    &-slider
      width: 100%
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__text
        width: 100%
      &__name
        margin-top: 10px
  .booking
    width: 49%
    &-button
      width: 100%
  .map
    width: 49%
  .activities
    .card
      width: 255px

@media   ( max-width: 576px )
  .container
    width: 87%
  .header
    .logo__img
      width: 100px
  .button-menu
    &_top
      margin-right: -2px
      margin-top: 4px
  .hotel
    padding-bottom: 40px
    padding-top: 4px
    &-right
      flex-direction: column
    &-info
      &__offer
        margin-left: 2px
      &__description
        max-width: 280px
    &-grid
      &__swip
        height: 100%
        margin-top: 17px
    &-slider
      width: 100%
      height: 180px
  .stars-img
    margin-right: 14px
    margin-bottom: 5px
  .booking
    margin-top: 7px
    width: 100%
    margin-bottom: 20px
    &-button
      width: 235px
  .map
    width: 100%
    height: 173px
  .call
    &-center
      &__img
        padding-right: 4px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-title
      font-size: 20px
      line-height: 25px
      padding-left: 21px
      &__strong
        font-size: 30px
        line-height: 38px
        margin-top: 5px
        margin-bottom: 37px
    &-container
      flex-direction: column
      align-items: flex-start
    &__subscribe
      width: 280px
      margin-left: 21px
  .subscribe
    &__input
      padding-left: 19px
  .reviews
    margin-bottom: 70px
    &__title
      font-size: 18px
      line-height: 23px
      margin-left: 43px
      margin-right: 43px
      margin-bottom: 42px
    &-slider
      &__profile
        margin-right: 2px
    &-block
      &__review
        padding-left: 33px
        padding-right: 23px
        text-align: start
    &-button
      top: 9%
      margin-top: 1px
      &--prev
        left: 33px
        transf
      &--next
        right: 35px
  .activities
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
    .card
      width: 100%
      &__button
        padding-right: 20px
      &__one
        order: 1
      &__two
        order: 3
      &__three
        order: 2
        margin-bottom: 28px
      &__four
        order: 4

@media ( min-width: 325px ) and ( max-width: 576px )
  .hotel
    &-slider
      width: 100%
  .booking
    width: 100%
    &-button
      width: 100%
  .map
    width: 100%
  .newsletter
    &__subscribe
      width: 90%
